PORT=3000
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GOOGLE_SHEETS_SPREADSHEET_ID=1OAgIyCe1L-XmErvyQboWsieqJZZ7EQ9e_0Iidw7iV9g

SPACES_REGION=sgp1
SPACES_BUCKET=your-space-name
SPACES_ENDPOINT=https://sgp1.digitaloceanspaces.com
SPACES_KEY=your_spaces_key
SPACES_SECRET=your_spaces_secret
SPACES_CDN_BASE_URL=https://your-space-name.sgp1.digitaloceanspaces.com
